<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/student-view.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Offensive Line - Student View</title>
</head>

<body>
    <interior-body>
        <div>
            <!-- Player Info Area at the top of the window -->
            <player-name id="playerName"><%= athlete.first_name %> <%= athlete.last_name %></player-name>
            <player-stats>
                <player-year>Year: </player-year><br />
                <player-height>Height: </player-height><br />
                <player-weight>Weight:</player-weight><br />
                <player-position>Current Position:</player-position>
            </player-stats>
            <player-stats class="stat-value">
                <player-year id="playerYear"><%= statistics[statistics.length - 1].grade %></player-year><br />
                <player-height id="playerHeight"><%= Math.floor(statistics[statistics.length - 1].height / 12) %>' <%= statistics[statistics.length - 1].height % 12 %>"</player-height><br />
                <player-weight id="playerWeight"><%= statistics[statistics.length - 1].weight %> lbs</player-weight><br />
                <player-position id="playerPosition"><%= statistics[statistics.length - 1].position %></player-position>
            </player-stats>
            <img class="player-photo" id="playerPhoto"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjL5uRukQxddVG8oeVQpPttaiZotrzgbf71xYUUvRjJTepPztXlK-aI5YMKoNacRmMIm4:https://mario.wiki.gallery/images/thumb/2/27/SuperMarioParty_Waluigi.png/640px-SuperMarioParty_Waluigi.png&usqp=CAU"></img>
            <grade-display>00</grade-display>
        </div>
        <div>
            <!-- Graph/Table -->
            <div class="student-graph">
                <canvas id="studentGraph"></canvas>
            </div>
            <script>
                const data = [
                {x: 1, y: 70},
                {x: 2, y: 72},
                {x: 3, y: 68},
                {x: 4, y: 80},
                {x: 5, y: 58},
                {x: 6, y: 86},
                {x: 7, y: null},
                {x: 8, y: 65},
                {x: 9, y: 98},
                {x: 10, y: 23},
                {x: 11, y: 34},
                {x: 12, y: 78},
                ]
                const crimsonLineGrade = [
                    {x: 1, y: 90},
                    {x: 2, y: 90},
                    {x: 3, y: 90},
                    {x: 4, y: 90},
                    {x: 5, y: 90},
                    {x: 6, y: 90},
                    {x: 7, y: 90},
                    {x: 8, y: 90},
                    {x: 9, y: 90},
                    {x: 10, y: 90},
                    {x: 11, y: 90},
                    {x: 12, y: 90},
                ]
                const averageJoeGrade = [
                    {x: 1, y: 60},
                    {x: 2, y: 61},
                    {x: 3, y: 62},
                    {x: 4, y: 63},
                    {x: 5, y: 62},
                    {x: 6, y: 63},
                    {x: 7, y: 63},
                    {x: 8, y: 64},
                    {x: 9, y: 66},
                    {x: 10, y: 67},
                    {x: 11, y: 68},
                    {x: 12, y: 70},
                ]
                new Chart(
                    document.getElementById('studentGraph'),
                    {
                        type: 'line',
                        data: {
                            labels: ['Fr 1', 'Fr 2', 'Fr 3', 'So 1', ' So 2', 'So 3', 'Ju 1', 'Ju 2', 'Ju 3', 'Se 1', 'Se 2', 'Se 3'],
                            datasets: [
                                {
                                    label: 'Grade',
                                    data: data.map(row => row.y),
                                    fill: false,
                                    borderColor: 'rgb(0,0,128)',
                                    tension: 0.0,
                                },
                                {
                                    label: 'Average Joe',
                                    data: averageJoeGrade.map(row => row.y),
                                    fill: false,
                                    borderColor: 'rgb(0,128,0)',
                                    tension: 0
                                },
                                {
                                    label: 'Crimson Line',
                                    data: crimsonLineGrade.map(row => row.y),
                                    fill: false,
                                    borderColor: 'rgb(220,20,60)',
                                    tension: 0
                                }
                                //Add more datasets for more data
                            ]
                        },
                        options: {
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    type: 'linear',
                                    suggestedMax: 100,
                                    suggestedMin: 0,
                                    ticks: {
                                        stepSize: 10
                                    },
                                }
                            }
                        }
                    });
            </script>
            <table>
                <tr>
                    <th>Semester</th>
                    <th>Fr 1</th>
                    <th>Fr 2</th>
                    <th>Fr 3</th>
                    <th>So 1</th>
                    <th>So 2</th>
                    <th>So 3</th>
                    <th>Ju 1</th>
                    <th>Ju 2</th>
                    <th>Ju 3</th>
                    <th>Se 1</th>
                    <th>Se 2</th>
                    <th>Se 3</th>
                </tr>
                <tr>
                    <th>Grade</th>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <!--Add more rows for more data.-->
            </table>
        </div>
    </interior-body>
</body>

</html>
